h2{
    color: #7a1324;
}
th{
    color: rgb(67, 42, 165);
}
body{
    background-color: grey;
}
th.header-with-image img {
    max-width: 10%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
 